body {
    margin:0em;
    font-size: 1.25em;
    line-height: 1.4em;
    text-align: center;
    font-family: Helvetica;
    color: #515151;
}

input[type=text] {
    width: 70%;
    text-align: center;
    font-size: 1em;
    box-sizing: border-box;
}

h2 {
    font-size: .8em;
    font-weight: normal;
    line-height: 1em;
}
